<!doctype html>
<html>

<head>
  <title>About</title>
</head>

<body>
  <h1>About</h1>
  <a href="/views/home.html">Home</a>
  <a href="/views/about.html">About</a>
  <a href='/views/project.html'>Go to project</a>
  <a href='/views/services.html'>Go to services</a>
  <a href='/views/contact.html'>Go to contact</a>
  <img src="/public/image/ryan pt.PNG" alt="project 1">
  <p>Hello, my name is Tsang Tsz Long, You can call me Ryan. I am from Hong Kong. Reading and cooking are my hobbies. I like to learn more about software engineering, so I decided to study at centennial college. I'm studying a software engineering technician course right now.</p>
  <a href='/file/TszResume.pdf'>Go to Resume</a>
  <p><a href="/views/project.html">Next</a></p>
</body>

</html>