<!DOCTYPE html>
<html>
<head>
    
</head>


<body>
    
  <h1>Home</h1>
  <a href="/views/home.html">Home</a>
  <a href="/views/about.html">About</a>
  <a href='/views/project.html'>Go to project</a>
  <a href='/views/services.html'>Go to services</a>
  <a href='/views/contact.html'>Go to contact</a>
  <p>Hello, this is my website for assignment - 1. This assignment is about creating an Expres portfolio site with five different pages they are Home, About, Service, Project and Contact page. So I created this home page to show some information here. Click the button below to find more Information.</p>
  <a href="/views/about.html">Next</a>
</body>

</html>