<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
</head>

<body>
  <h1>Services</h1>
  <a href="/views/home.html">Home</a>
  <a href="/views/about.html">About</a>
  <a href='/views/project.html'>Go to project</a>
  <a href='/views/services.html'>Go to services</a>
  <a href='/views/contact.html'>Go to contact</a>
  <h2>General programming.</h2>
  <img src="/public/image/s1.jpg" alt="Services 1">
  <h2>Web development.</h2>
  <img src="/public/image/s2.png" alt="Services 2">
  <h2>Web design.</h2>
  <img src="/public/image/s3.png" alt="Services 3">
  <p><a href="/views/contact.html">Next</a></p>
</body>

</html>